<form >

  <table align="center" class="badge">
        <tr>
            <td><label>UserName:</label></td>
            <td><input type="text" name="userName" [(ngModel)]="userName"></td>
        </tr>
        <tr>
            <td><label>Password:</label></td>
            <td> <input type="password" name="password" [(ngModel)]="password"></td>
        </tr>

        <tr>
            <td>

            </td>
            <td>
                <input type="submit" value="Login" (click)="userLogin();">
            </td>
        </tr>
    </table>
</form> 

    

